Lab01/flows.json
[
    {
        "id": "22187a02ad3ebb1c",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "96160a14f00a5296",
        "type": "mqtt in",
        "z": "22187a02ad3ebb1c",
        "name": "",
        "topic": "4ID3_GroupA/humidity",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1f8ea0ae4101a4ba",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 80,
        "wires": [
            [
                "981342a3b2bb276f",
                "c5e0bb81077b4ed7"
            ]
        ]
    },
    {
        "id": "981342a3b2bb276f",
        "type": "debug",
        "z": "22187a02ad3ebb1c",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 80,
        "wires": []
    },
    {
        "id": "c5e0bb81077b4ed7",
        "type": "ui_chart",
        "z": "22187a02ad3ebb1c",
        "name": "Humidity",
        "group": "4748479af5b2d1dd",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 400,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "7f81ad32825ae00a",
        "type": "mqtt in",
        "z": "22187a02ad3ebb1c",
        "name": "",
        "topic": "4ID3_GroupA/temperature",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1f8ea0ae4101a4ba",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 220,
        "wires": [
            [
                "36907cc71c77707f",
                "2ddc9813c615c181"
            ]
        ]
    },
    {
        "id": "0d64e5bf5be0bf52",
        "type": "mqtt in",
        "z": "22187a02ad3ebb1c",
        "name": "",
        "topic": "4ID3_GroupA/pressure",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1f8ea0ae4101a4ba",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 360,
        "wires": [
            [
                "f0bcd5579c1e5822",
                "0f034627598d2251"
            ]
        ]
    },
    {
        "id": "5ac058a5edc13601",
        "type": "mqtt in",
        "z": "22187a02ad3ebb1c",
        "name": "",
        "topic": "4ID3_GroupA/light",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1f8ea0ae4101a4ba",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 460,
        "wires": [
            [
                "28956b1b7aa0f41e",
                "8ed638cef40bf6bc"
            ]
        ]
    },
    {
        "id": "36907cc71c77707f",
        "type": "debug",
        "z": "22187a02ad3ebb1c",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 220,
        "wires": []
    },
    {
        "id": "f0bcd5579c1e5822",
        "type": "debug",
        "z": "22187a02ad3ebb1c",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 360,
        "wires": []
    },
    {
        "id": "28956b1b7aa0f41e",
        "type": "debug",
        "z": "22187a02ad3ebb1c",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 460,
        "wires": []
    },
    {
        "id": "2ddc9813c615c181",
        "type": "ui_chart",
        "z": "22187a02ad3ebb1c",
        "name": "Temperature",
        "group": "4748479af5b2d1dd",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 410,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "0f034627598d2251",
        "type": "ui_chart",
        "z": "22187a02ad3ebb1c",
        "name": "Pressure",
        "group": "4748479af5b2d1dd",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Pressure",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "1000",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 400,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "8ed638cef40bf6bc",
        "type": "ui_chart",
        "z": "22187a02ad3ebb1c",
        "name": "Light",
        "group": "4748479af5b2d1dd",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Light",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "5000",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 390,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "1f8ea0ae4101a4ba",
        "type": "mqtt-broker",
        "name": "Mosquitto Test",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "4748479af5b2d1dd",
        "type": "ui_group",
        "name": "Default",
        "tab": "9158ed9afb0072f6",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9158ed9afb0072f6",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]